<!DOCTYPE html>
<html>
<head>
<title>weather page</title>

<!--static ar css file-->
{%load static %}
<link rel="stylesheet" href="{% static 'style.css'%}">

</head>
<body class="bgadd">

<div class="container">
<div class="box">
<h2>Weather Check</h2>
<form method="POST" id="form_container">
    {% csrf_token %}
    <input type="text" placeholder="Enter your city" name="city" />
    <button type="submit">let's see</button>
</form><br><br>

<table class="table table-hover">
    <thead>
      <tr>
        <th>City</th>
        <th>Weather Type</th>
        <th>Degree</th>
        <th>Temperature Celcius</th>  
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{city}}</td>
        <td>{{description}}</td>
        <td>{{icon}}</td>
        <td>{{temp}} C</td>
      </tr>
  
    </tbody>
  </table>

</div>
</div>

</body>
</html>